/* CSS Design Style for "dropdown" Class */
.dropdown {
    display : flex;
    flex-direction : column;
    min-width : 250px;
    background-color : var(--white);
    border-radius : 10px;
    position : absolute;
    top : 35px;
    z-index : 1;
    visibility : hidden;
    opacity : 0;
    transform : scale(0.95) translateX(-5px);
    transition : 0.1s ease-in-out;
    box-shadow : var(--shadow);
}

/* CSS Design Style for "dropdown" Class and "active" Class */
.dropdown.active {
    visibility : visible;
    opacity : 1;
    transform : scale(1) translateX(5px);
}

/* CSS Design Style for "dropdown" Class and <ul> HTML Tag Element */
.dropdown ul {
    display : flex;
    flex-direction : column;
    gap : 0.5rem;
    padding : 1.5rem;
    font-size : 1rem;
}

/* CSS Design Style for "dropdown-btn" Class */
.dropdown-btn {
    display : flex;
    align-items : center;
    justify-content : space-between;
    gap : 0.15rem;
}

/* CSS Design Style for "dropdown-link" Class */
.dropdown-link {
    display : flex;
    gap : 0.5rem;
    padding : 0.5rem 0;
    border-radius : 10px;
    transition : 0.1s ease-in-out;
}

/* CSS Design Style for "dropdown-link" Class and <p> HTML Tag Element */
.dropdown-link p {
    font-size : 1rem;
    color : var(--medium-gray);
}