/* CSS Design Style for "dropdown" Class */
.dropdown {
    display : flex;
    flex-direction : column;
    min-width : 250px;
    background-color : var(--white);
    border-radius : 10px;
    position : absolute;
    top : 35px;
    z-index : 1;
    visibility : hidden;
    opacity : 0;
    transform : scale(0.95) translateX(-5px);
    transition : 0.1s ease-in-out;
    box-shadow : var(--shadow);
}

/* CSS Design Style for "dropdown" Class and "active" Class */
.dropdown.active {
    visibility : visible;
    opacity : 1;
    transform : scale(1) translateX(5px);
}

.dropdown ul {
    
}