/* Base Fonts CSS Styling */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

/* CSS Design Styling for All Classes, IDs and HTML Tag Elements */
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family : "Inter", sans-serif;
}

/* CSS Design Styling for the Highest Level Parent Element in the document tree, typically the '<html>' Element */
:root {
    --dark-gray : #333333;
    --medium-gray : #636363;
    --light-gray : #EEEEEE;
    --ash : #F4F4F4;
    --primary-color : #2B72FB;
    --white : #FFFFFF;
    --border : 1px solid var(--light-gray);
    --shadow : rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* CSS Design Styling for <body> HTML Tag Element */
body {
    font-family : inherit;
    background-color : var(--white);
    color : var(--dark-gray);
    letter-spacing : -0.4px;
}

/* CSS Design Styling for <ul> HTML Tag Element */
ul {
    list-style : none;
}

/* CSS Design Styling for <a> HTML Tag Element */
a {
    text-decoration : none;
    color : inherit;
}

/* CSS Design Styling for <button> HTML Tag Element */
button {
    border : none;
    background-color : transparent;
    cursor : pointer;
    color : inherit;
}