/* CSS Design Style for "right-container" Class */
.right-container {
    display : flex;
    align-items : center;
    column-gap : 1rem;
}

/* CSS Design Style for "right-container" Class and "search" Class */
.right-container .search {
    position : relative;
}