/* CSS Design Style for "right-container" Class */
.right-container {
    display : flex;
    align-items : center;
    column-gap : 1rem;
}

/* CSS Design Style for "right-container" Class and "search" Class */
.right-container .search {
    position : relative;
}

/* CSS Design Style for "right-container" Class and <img> HTML Tag Element */
.right-container img {
    border-radius : 50%;
}

/* CSS Design Style for "search" Class and <input> HTML Tag Element */
.search input {
    background-color : var(--ash);
    border : none;
    border-radius : 5px;
    padding : 0.75rem;
    padding-left : 2.5rem;
    font-size : 15px;
    width : 100%;
    border : var(--border);
}

/* CSS Design Style for "search" Class and "search-icon" Class */
.search .search-icon {
    position : absolute;
    left : 10px;
    top : 50%;
    transform : translateY(-50%);
    opacity : 0.5;
}

#hamburger {
    
}