/* CSS Design Style for "right-container" Class */
.right-container {
    display : flex;
    align-items : center;
    column-gap : 1rem;
}

/* CSS Design Style for "right-container" Class and "search" Class */
.right-container .search {
    position : relative;
}

/* CSS Design Style for "right-container" Class and <img> HTML Tag Element */
.right-container img {
    border-radius : 50%;
}

.search input {
    background-color : var(--ash);
}