/* CSS Design Styling for "btn" Class */
.btn {
    display : block;
    background-color : var(--primary-color);
    color : var(--white);
    text-align : center;
    padding : 0.5rem 1.5rem;
    font-size : 1rem;
    font-weight : 500;
    border-radius : 5px;
}

/* CSS Design Styling for "icon" Class */
.icon {
    padding : 0.5rem;
    background-color : var(--light-gray);
    border-radius : 10px;
}

.logo {
    margin-right : 1.5rem;
}